.admin-st__link {
	display: flex;
	cursor: pointer;
}

.exit-js {  
    background-color: rgba(74,76,86,.4);
    z-index: 5;
}
.exit-js__inner {
		left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}