.resume {
  margin-bottom: 16rem;

  &__title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  &__title {
    width: 98rem;
    font-weight: 700;
    font-size: 4.3rem;
    line-height: 6.5rem;
  }

  &__title-price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53rem;
  }

  &__price {
    font-weight: 700;
    font-size: 4rem;
    line-height: 6.5rem;

    > sup {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
  }

  &__favorite-btn {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;

    &:hover {
      filter: brightness(.85);
    }
  }

  &__favorite-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    margin-left: 1.8rem;
    border-radius: 100%;
    background-color: #4067F0;

    > svg {
      width: 2.3rem;
      height: 2.3rem;

      path {
        stroke: white;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__main-box {
    width: 98rem;

    @media (min-width: 48.01em) {
      > *:not(:last-child) {
        margin-bottom: 5rem;
      }
    }
  }

  &__info-box {
    position: relative;
    display: flex;
    filter: drop-shadow(1.5rem 2.5rem 7rem #E1E5F2);

    &--not-photo {
      @media (min-width: 48.01em) {
        .resume__info-content {
          padding: 5.4rem 6rem 6.8rem 6rem;
          column-gap: 4rem;
          row-gap: 2.2rem;
        }

        .resume__info-item {
          display: flex;

          &:nth-child(odd) {
            flex: none;
            width: 52.5rem;
          }

          &:nth-child(even) {
            width: 29.4rem;

            .resume__info-item-title {
              width: 13rem;
            }
          }
        }

        .resume__info-item-title {
          flex: none;
          width: 26rem;
          margin-right: 1.8rem;
        }
      }
    }
  }

  &__img-box {
    flex: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 39rem;
    height: auto;
    padding: 3rem 4rem 3rem 3rem;
    border-radius: 3rem 4rem 4rem 3rem;
    background-color: white;

    > img {
      position: relative;
      width: 100%;
      height: 33.4rem;
      border-radius: 1.7rem;
      object-fit: cover;
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: calc(50% + 5rem);
      display: block;
      width: 29.5rem;
      height: 25.8rem;
      transform: translate(-50%, -50%);
      background: #C2C2C2;
      filter: blur(1.7rem);
      border-radius: 1.7rem;
    }
  }

  &__info-separator {
    flex: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 2px;
    height: auto;

    > span {
      position: relative;
      display: block;
      width: 100%;
      height: 80%;
      background: url("../img/dashed-resume.svg") repeat-y center white;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -3rem;
        z-index: -1;
        display: block;
        width: 4rem;
        height: 4rem;
        transform: translateX(-50%);
        background-color: white;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3rem;
        z-index: -1;
        display: block;
        width: 4rem;
        height: 4rem;
        transform: translateX(-50%);
        background-color: white;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: -2.2rem;
      border: 2rem transparent solid;
      border-bottom: 2rem #e4e7f3 solid;
      border-right: 2rem #e4e7f3 solid;
      border-radius: 0.4rem;
      transform: translateX(-50%) rotate(45deg);
      background-color: #e4e7f3;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -2.2rem;
      border: 2rem transparent solid;
      border-top: 2rem #e4e7f3 solid;
      border-left: 2rem #e4e7f3 solid;
      border-radius: 0.4rem;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &__info-content {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2.4rem;
    row-gap: 1.6rem;
    padding: 3rem 3rem 3rem 6rem;
    border-radius: 4rem 3rem 3rem 4rem;
    background-color: white;
  }

  &__info-item {
    font-weight: 700;
    font-size: 1.9rem;

    &:nth-child(odd) {
      flex: none;
      width: 24rem;
    }

    &:nth-child(even) {
      flex: auto;
    }
  }

  &__info-item-title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.3rem;
    color: #9CA0AE;

    .mobile {
      display: none;
    }
  }

  &__desc-box {
    padding: 6rem;
    margin-bottom: 5rem;
    border-radius: 3rem;
    background-color: white;
  }

  &__desc-title {
    margin-bottom: 3.4rem;
    font-weight: 700;
    font-size: 3.1rem;
    line-height: 3.9rem;
  }

  &__desc-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 3.6rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.9rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      display: block;
    }
  }

  &__desc-btn {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.9rem;

    .close {
      display: none;
    }

    &:hover {
      .resume__btn-icon {
        filter: brightness(0.9);
      }
    }

    &.active {
      .resume__btn-icon {
        > svg {
          transform: scaleY(-1);
        }
      }

      .open {
        display: none;
      }

      .close {
        display: block;
      }
    }
  }

  &__btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-left: 1.5rem;
    border-radius: 100%;
    background-color: #4067F0;
    box-shadow: 0.8rem 0.8rem 3.4rem rgba(39, 138, 230, 0.3);

    > svg {
      width: 1.4rem;
      height: 0.8rem;
      transition: transform .3s ease;

      path {
        stroke: white;
      }
    }
  }

  &__map-box {
    margin-bottom: 5rem;
  }

  &__map-title-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3rem 6rem 3rem 4.5rem;
    border-radius: 3rem;
    background-color: white;

    &:hover {
      filter: brightness(0.95);
    }
  }

  &__map-icon {
    width: 7.6rem;
    height: 7.6rem;
    margin-right: 1rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__map-title {
    font-weight: 700;
    font-size: 2.2rem;
  }

  &__map-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: 700;
    font-size: 1.9rem;

    .close {
      display: none;
    }

    &.active {
      .resume__btn-icon {
        > svg {
          transform: scaleY(-1);
        }
      }

      .open {
        display: none;
      }

      .close {
        display: block;
      }
    }
  }

  &__map {
    margin-top: 5rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__social {
    display: block;
    width: 5rem;
    height: 5rem;
    padding: 1.1rem;
    border-radius: 100%;
    background-color: white;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  &__footer-btn {
    display: block;
    width: fit-content;
    padding: 1.5rem 6rem;
    border-radius: 100rem;
    background-color: #4067F0;
    box-shadow: 1rem 1rem 4rem rgba(39, 115, 230, 0.15);
    font-weight: 700;
    font-size: 1.6rem;
    color: white;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &__total-box {
    position: relative;
    width: 53rem;
    height: fit-content;
    padding: 4.1rem 3.6rem 2.8rem 3.6rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0.5rem 1rem 3rem #DEE1EB;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
      width: 90%;
      height: calc(100% + 1.6rem);
      transform: translateX(-50%);
      border-radius: inherit;
      background: linear-gradient(261.8deg, rgba(192, 197, 222, 0.56) 12.23%, #C6CCE6 56.37%, rgba(206, 212, 234, 0.42) 101.43%);
    }
  }

  &__total-content {
  }

  &__total-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__total-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21.8rem;
    height: 6.1rem;
    border-radius: 100rem;
    font-weight: 700;
    font-size: 1.8rem;
    color: white;

    &--blue {
      background-color: #4067F0;
      box-shadow: 1rem 1rem 4rem 0 #2773E526;
    }

    &--green {
      background-color: #34CE69;
      box-shadow: 1rem 1rem 4rem 0 #27E55126;
    }
  }

  &__total-btn-icon {
    flex: none;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1.2rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__total-btn-text-box {
    font-size: 1.4rem;

    > * {
      display: block;
    }

    > *:last-child {
      font-size: 1.9rem;
    }
  }

  &__total-text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__total-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #8992A5;

    > svg {
      flex: none;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;

      path {
        stroke: #9ca0ae;
      }
    }
  }

  &__total-info-box {
  }

  &__total-text-buttons {
  }

  &__total-text-btn {
    &--blue {
    }

    &--white {
    }
  }

  &__total-call-btn {
  }

  &__total-msg-btn {
  }
}

@media (max-width: 48em) {
  .resume {
    margin-bottom: 12rem;

    &__title-box {
      display: block;
      margin-bottom: 4.8rem;
    }

    &__title {
      width: 100%;
      margin-bottom: 1.4rem;
      font-size: 5.4rem;
      line-height: 7.8rem;
    }

    &__title-price-box {
      width: 100%;
      color: #4067F0;
    }

    &__price {
      font-size: 5rem;
      line-height: 6rem;

      > sup {
        font-size: 3.2rem;
        line-height: 4.4rem;
      }
    }

    &__favorite-btn {
    }

    &__favorite-icon {
    }

    &__content {
      display: block;
    }

    &__main-box {
      width: 100%;
    }

    &__info-box {
      display: block;
      margin-bottom: 5.2rem;
      filter: none;
      box-shadow: 1rem 2rem 6rem #DEE1EB;

      &--not-photo {
      }
    }

    &__img-box {
      width: 100%;
      height: 44.8rem;
      padding: 4rem;
      border-radius: 5rem;

      > img {
        border-radius: 3.4rem;
      }

      &:before {
        content: none;
      }
    }

    &__info-separator {
      display: block;
      width: 100%;
      height: 2px;

      > span {
        position: relative;
        display: block;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        background: url("../img/dashed-resume-mob.svg") repeat-x center white;

        &:before {
          left: -1.4rem;
          top: -2rem;
          width: 8rem;
          height: 4rem;
        }

        &:after {
          left: auto;
          right: -9.4rem;
          bottom: -2rem;
          width: 8rem;
          height: 4rem;
        }
      }

      &:before {
        left: 2rem;
        top: 50%;
        width: 2rem;
        height: 2rem;
        border: none;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: #e4e7f3;
      }

      &:after {
        left: auto;
        right: 0;
        width: 2rem;
        height: 2rem;
        bottom: auto;
        top: 50%;
        border: none;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: #e4e7f3;
      }
    }

    &__info-content {
      column-gap: 4.8rem;
      row-gap: 2.2rem;
      padding: 6rem 5.4rem;
      border-radius: 5rem;
    }

    &__info-item {
      font-size: 3.2rem;

      &:nth-child(odd) {
        width: 36rem;
      }

      &:nth-child(even) {
      }
    }

    &__info-item-title {
      font-size: 3rem;
      line-height: 5.8rem;

      .desktop {
        display: none;
      }

      .mobile {
        display: block;
      }
    }

    &__desc-box {
      padding: 6.6rem 5.4rem 9.6rem 4.6rem;
      margin-bottom: 6.4rem;
      border-radius: 5rem;
    }

    &__desc-title {
      margin-bottom: 2.8rem;
      font-size: 5.4rem;
      line-height: 1;
    }

    &__desc-text {
      -webkit-line-clamp: 11;
      margin-bottom: 6rem;
      font-size: 3.2rem;
      line-height: 5.8rem;
    }

    &__desc-btn {
      font-size: 3.2rem;
    }

    &__btn-icon {
      width: 6rem;
      height: 6rem;
      margin-left: 4rem;
      box-shadow: 1.6rem 1.6rem 6.8rem rgba(39, 138, 230, 0.3);

      > svg {
        width: 2rem;
        height: 1rem;
      }
    }

    &__map-box {
      margin-bottom: 12rem;
    }

    &__map-title-box {
      flex-wrap: wrap;
      row-gap: 6rem;
      padding: 6rem 5rem;
      border-radius: 6rem;
    }

    &__map-icon {
      width: 15.2rem;
      height: 15.2rem;
      margin-right: 2rem;
    }

    &__map-title {
      width: 50rem;
      font-size: 4rem;
      line-height: 6rem;
    }

    &__map-btn {
      margin-left: 0;
      font-size: 3.2rem;
    }

    &__map {
      margin-top: 6.8rem;
    }

    &__footer {
      display: block;
    }

    &__socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0;
      row-gap: 4rem;
      margin-bottom: 5rem;
    }

    &__social {
      width: 12rem;
      height: 12rem;
      padding: 2.6rem;
    }

    &__footer-btn {
      padding: 3rem 12rem;
      box-shadow: 2rem 2rem 8rem rgba(39, 115, 230, 0.15);
      font-size: 3.2rem;
    }

    &__total-box {
      width: calc(100% + 8rem);
      padding: 0;
      margin: 0 -4rem;
      margin-bottom: 8rem;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;

      &:before {
        content: none;
      }
    }

    &__total-content {
    }

    &__total-buttons {
      gap: 4rem;
      padding: 3.4rem 4rem;
      margin-bottom: 0;
      background-color: white;
    }

    &__total-btn {
    }

    &__total-btn-icon {
    }

    &__total-btn-text-box {
      font-size: 1.4rem;

      > * {
        display: block;
      }

      > *:last-child {
        font-size: 1.9rem;
      }
    }

    &__total-text-box {
      flex-direction: column;
      align-items: normal;
      justify-content: normal;
      row-gap: 2rem;
    }

    &__total-text {
      font-size: 2.8rem;

      > svg {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
      }
    }

    &__total-info-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4rem;
      margin-bottom: 6rem;
    }

    &__total-text-buttons {
      display: flex;
      align-items: center;
      gap: 2.8rem;
    }

    &__total-text-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10.4rem;
      height: 10.4rem;
      border-radius: 100%;

      > svg {
        width: 4.8rem;
        height: 4.8rem;
      }

      &--blue {
        background-color: #4067F0;
        box-shadow: 1.7rem 1.7rem 6.8rem rgba(39, 138, 230, 0.3);

        path {
          stroke: white;
        }
      }

      &--white {
        background-color: white;

        path {
          stroke: #20242C;
        }
      }
    }

    &__total-call-btn {
      flex: auto;
      display: flex;
      justify-content: center;
      padding: 3rem 0;
      border-radius: 100rem;
      background-color: #34CE69;
      box-shadow: 2rem 2rem 8rem rgba(39, 230, 81, 0.15);
      font-weight: 700;
      font-size: 3.6rem;
      color: white;

      &:hover {
        filter: brightness(0.95);
      }
    }

    &__total-msg-btn {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10.4rem;
      height: 10.4rem;
      border-radius: 100%;
      background-color: #4067F0;
      box-shadow: 2rem 2rem 8rem rgba(39, 115, 230, 0.15);

      > svg {
        width: 4.4rem;
        height: 4.4rem;

        path {
          fill: #EAEEFF;
        }
      }

      &:hover {
        filter: brightness(0.95);
      }
    }
  }
}