@import "resume";
@import "more-ads";
@import "new-ad";



body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }

  .admin-st__card-info {
    flex: auto;
    margin-right: 4rem;
  }

  .admin-st__card-right {
    padding-right: 4.5rem;
  }

  .admin-st__card-btns {
    flex: none;
  }

  .admin-st__card-statistics {
    flex: none;
    width: 14rem;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}